//- Sub header
.container
  .row.align-items-center.pb-3
    .col-sm.order-sm-1.order-2
      if selectedDate == 'now'
        .row.row-cols-2.row-cols-sm-2.row-cols-lg-4#summary-cards-lg
          each itm, key in current
            if key >= 0 && key < 4
              +item(itm.title, itm.value, itm.unit, 'main', itm.trend, itm.field)
      else
        blockquote.p-2.m-0
          | !{almanac}

    .col-sm-4.order-sm-2.order-1.pb-4.pb-sm-0

      .col-12.text-center
        if view == 'now'
          h1.fw-light.text-info #{weekday}
          | #{month}, #{time}
        if view == 'day'
          h1.fw-light.text-info #{weekday}
          | #{month}, #{year}
        if view == 'month'
          h1.fw-light.text-info #{month}
          | #{year}
        if view == 'year'
          h1.fw-light.text-info #{year}
        if view == 'range'
          h1.fw-light.text-info Between
          | #{range}