extends layout.pug

block append head
    //- chart.js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js", integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==",crossorigin="anonymous",referrerpolicy="no-referrer")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js", integrity="sha256-eVNjHw5UeU0jUqPPpZHAkU1z4U+QFBBY488WvueTm88=", crossorigin="anonymous" )
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1/dist/chartjs-plugin-zoom.min.js", integrity="sha256-hbPFD/8jjaql7p/WfrSjdkOomS775cZ4o2bsEtdrw+s=", crossorigin="anonymous")

    //- leaflet map
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==', crossorigin='')
    script(defer, src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==', crossorigin='')

    //- local resources
    script(defer src='/javascripts/calendar.js', crossorigin='anonymous')
    script(defer src='/javascripts/graph.js')

    if selectedDate == 'now'
      script(defer src='/javascripts/stream.js')

block append header
  include mixins.pug
  include header.pug
  include header-sub.pug

block append content
  include summary.pug
  include graphs.pug
  include observations.pug

block append footer
  include footer.pug

  script.
    var graphs = !{graphs};
    var sunrise = "#{sunrise}";
    var sunset = "#{sunset}";
    var map
    document.addEventListener("DOMContentLoaded", (event) => {
      calendar('#calendar', '#{selectedDate}', '#{selectedDate}', !{dates});

      var tabElMap = document.querySelector('button[data-bs-target="#pills-station"]')
      tabElMap.addEventListener('shown.bs.tab', function (event) {

        if(!map){
          map = L.map('mapid', {scrollWheelZoom: false}).setView(['#{location.lat}', '#{location.lng}'], 13);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
          L.circle(['#{location.lat}', '#{location.lng}'], {
              color: 'red',
              weight: 1,
              fillColor: '#f03',
              fillOpacity: 0.5,
              radius: 500
          }).addTo(map);          
        }
        
        map.invalidateSize(false);
      });

      var btnElGraphs = document.querySelector('#fullscreen-graphs');
      btnElGraphs.addEventListener('click', function (event) {

        event.preventDefault();
        if (btnElGraphs.children[0].classList.contains('bi-fullscreen')) {
            btnElGraphs.children[0].classList.remove('bi-fullscreen');
            btnElGraphs.children[0].classList.add('bi-fullscreen-exit');
            document.querySelector('#graphs-container').classList.remove('row-cols-md-2');
        } else {
            btnElGraphs.children[0].classList.remove('bi-fullscreen-exit');
            btnElGraphs.children[0].classList.add('bi-fullscreen');
            document.querySelector('#graphs-container').classList.add('row-cols-md-2');
        }

        document.activeElement.blur();
      });

      var radioElUnits = document.querySelector('#checkImpericalUnits');
      document.cookie.split(";").forEach(function(c) {
        var cc = c.trim().split("=");
        if( cc[0] == "unit" && cc[1] == "i")
          radioElUnits.checked = true;
      });
      radioElUnits.addEventListener('change', function (event) {
        setTimeout(function(){
          if(radioElUnits.checked)
            document.cookie = "unit=i;path=/";
          else
            document.cookie = "unit=;path=/";
          location.reload();
        }, 160);
      });

      var radioElDisplayMode = document.querySelectorAll('input[name=radioDisplayMode]');
      radioElDisplayMode.forEach(function(el){
        document.cookie.split(";").forEach(function(c) {
          var cc = c.trim().split("=");
          if( cc[0] == "mode" && cc[1] == el.value){
            el.checked = true;
            document.querySelector('html').dataset.theme = `theme-${el.value}`;
          }
        });
        el.addEventListener('change', function (event) {
          var value = event.target.value;
          document.querySelector('html').dataset.theme = `theme-${value}`;
          document.cookie = `mode=${value};path=/`;
        });
      });
    });