
mixin item(title,value,unit,size,trend,field)
  .col.text-center.text-nowrap.mb-2
    div(class=(size != 'main') ? 'h-100 mini-card' : '')

      if title == "Sunrise"
        - trend = "sunrise"

      else if title == "Sunset"
        - trend = "sunset"

      else if title == "Pressure (PMSL)"
        if Number(value)
          - value = parseFloat(value).toFixed(0)

      else if title == "AQI"
        - trend = "tree"
        - unit = "AQI"
        if value >= 0 && value <= 50
          - addClass = 'aqi-0-50'
          - etitle = 'Good'
        else if value >= 51 && value <= 100
          - addClass = 'aqi-51-100'
          - etitle = 'Moderate'
        else if value >= 101 && value <= 150
          - addClass = 'aqi-101-150'
          - etitle = 'Unhealthy for Sensitive Groups'
        else if value >= 151 && value <= 200
          - addClass = 'aqi-151-200'
          - etitle = 'Unhealthy'
        else if value >= 201 && value <= 300
          - addClass = 'aqi-201-300'
          - etitle = 'Very Unhealthy'
        else if value >= 301
          - addClass = 'aqi-301'
          - etitle = 'Hazardous'
        else
          - addClass = 'aqi-nan'
          - etitle = 'Not available'

      else if title == "UV-Index"
          if value < 3
            - addClass = 'uv-index-0-2'
            - etitle = "Low"
          else if value == 3 || value == 4 || value == 5
            - addClass = 'uv-index-3-5'
            - etitle = "Moderate"
          else if value == 6 || value == 7
            - addClass = 'uv-index-6-7'
            - etitle = "High"
          else if value == 8 || value == 9 || value == 10
            - addClass = 'uv-index-8-10'
            - etitle = "Very High"
          else if value > 10
            - addClass = 'uv-index-11'
            - value = "11+"
            - etitle = "Extreme"
          else
            - addClass = 'uv-index-nan'
            - etitle = 'Not available'

      if size && size == 'main'
        h2.mt-2.mb-0(title=etitle, data-field=field) 
          if trend && trend != "↗" && trend != "↘"
            | #[span.text-info.indicator #[i(class='bi bi-'+trend)]]#{value}#[small.text-muted.unit #{unit}]
          else
            | #[span.text-info.indicator #{trend}]#{value}#[small.text-muted.unit #{unit}]
      else
        h4.fw-light.mt-2.mb-0(title=etitle, data-field=field) 
          if title == "UV-Index"
            | #[span(class=`index ${addClass}`) #{value}]
          else if trend && trend != "↗" && trend != "↘"
            | #[span.text-info.indicator #[i(class='bi bi-'+trend)]]#{value}#[small.text-muted.unit #{unit}]
          else
            | #[span.text-info.indicator #{trend}]#{value}#[small.text-muted.unit #{unit}]
    
      if size == 'main'
        if title == "AQI"
          small.text-truncate.badge(class=addClass, style="max-width: 88%;") #{etitle}
        else
          small.mb-2.d-block.text-muted #{title}
      else
        if title == "Heat Index" && trend && trend != "↗" && trend != "↘"
          if trend == "heat-index-0"
            - etitle = "Caution"
          else if trend == "heat-index-1"
            - etitle = "Extreme Caution"
          else if trend == "heat-index-2"
            - etitle = "Danger"
          else if trend == "heat-index-3"
            - etitle = "Extreme Danger"

          small.mb-2.d-block(title=etitle).text-muted.smaller #[i.bi.bi-exclamation-diamond-fill(class=trend)] #{title}
        else
          small.mb-2.d-block.text-muted.smaller #{title}

      if title == 'UV-Index'
        //- div(style=`background: lightgrey; width: 100%; height: 3px; margin-top: -3px;`)
        div(style=`width: calc(100%*(${value/11})); height: 1px; margin-top: -1px;`, class=addClass)
      
      - var etitle = title
      - var addClass = ''

      //- canvas(id='sparkchart1', width="80px", height="40px", style="margin-top:-58px;", data-trace=field)

mixin label(type, value, size)
    if type == "AQI"
        if value >= 0 && value <= 50
          - addClass = 'aqi-0-50'
          - etitle = 'Good'
        if value >= 51 && value <= 100
          - addClass = 'aqi-51-100'
          - etitle = 'Moderate'
        if value >= 101 && value <= 150
          - addClass = 'aqi-101-150'
          - etitle = 'Unhealthy for Sensitive Groups'
        if value >= 151 && value <= 200
          - addClass = 'aqi-151-200'
          - etitle = 'Unhealthy'
        if value >= 201 && value <= 300
          - addClass = 'aqi-201-300'
          - etitle = 'Very Unhealthy'
        if value >= 301
          - addClass = 'aqi-301'
          - etitle = 'Hazardous'

    if type == "UV-Index"
        if value < 3
          - addClass = 'uv-index-0-2'
          - etitle = "Low"
        if value == 3 || value == 4 || value == 5
          - addClass = 'uv-index-3-5'
          - etitle = "Moderate"
        if value == 6 || value == 7
          - addClass = 'uv-index-6-7'
          - etitle = "High"
        if value == 8 || value == 9 || value == 10
          - addClass = 'uv-index-8-10'
          - etitle = "Very High"
        if value > 10
          - addClass = 'uv-index-11'
          - value = "11+"
          - etitle = "Extreme"

    if size && size == 'main'
        | #[span(class=`index index-lg ${addClass}`) #{value}] #[small #[small.text-muted #{unit}]]
    else
        | #[span(class=`index ${addClass}`) #{value}] #[small #[small.text-muted #{unit}]]

mixin tableAVGrow(title,unit,avg,min,max)
    tr
        td.text-start.text-muted.small.align-bottom
            | #{title} 
            if unit != ""
                small [#{unit}]
        if title == "AQI" || title == "UV-Index"
            td 
                +label(title, avg)
            td 
                +label(title, min)
                | #[small.text-muted →] 
                +label(title, max)
        else
            td #{avg}
            td #{min} #[small.text-muted →] #{max}  
