doctype html
html(lang='en')
  head
      block head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- Favicon Links
        link(rel="icon", href="/favicon.ico", sizes="any")
        link(rel="icon", href="/icon.svg", type="image/svg+xml")
        link(rel="apple-touch-icon", href="/apple-touch-icon.png")
        link(rel="manifest", href="/site.webmanifest")

        //- Content-Security-Policy
        meta(http-equiv="Content-Security-Policy" content="img-src 'self' *.tile.openstreetmap.org data:;")

        //- Theme
        meta(name="theme-color" content="#212529")
        
        //- Page meta information
        link(rel="canonical" href=url)
        meta( name="robots" content="index, nofollow")

        meta(name="author", content=author.name)
        meta(name="description", content=description )
        meta(name="keywords", content=keywords)

        //- Open Graph Data
        meta(property="og:site_name", content="Weather Station" )
        meta(property="og:title", content=title )
        meta(property="og:type", content="website")
        meta( property="og:locale", content=locale)

        //- Twitter Card
        meta( property="twitter:title", content=title )

        title Weather Station

        link(href="/dist/app.css" rel="stylesheet")
        link(href="/dist/app-dark.css" rel="stylesheet")
        script(defer src="/dist/bundle.js")
  
  body(data-bs-theme="light")
    noscript You need to enable JavaScript to run this app.
    div#root
