doctype html
html(lang='en')
  block head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- Favicon Links
    link(rel="icon", href="/favicon.ico", sizes="any")
    link(rel="icon", href="/icon.svg", type="image/svg+xml")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="manifest", href="/site.webmanifest")

    //- Theme
    meta(name="theme-color" content="#212529")
    
    //- Page meta information
    link(rel="canonical" href=url)
    meta( name="robots" content="index, nofollow")

    title Weather Station | Logs

    link(href="/dist/app.css" rel="stylesheet")

  body(data-bs-theme="light")
    header
      nav.align-items-center.border-bottom.border-5.border-info.pb-1.mb-3.pt-2.navbar.navbar-expand.navbar-light.bg-dark
        .container
          .row
            .ps-sm-0.ps-lg-5.col-sm
              h1.fs-2.text-light Weather Station | Logs

    if message == "login"
      main.py-5
        form.w-25.m-auto.mt-5(action="viewlogs" method="GET")
          h1.h3.mb-3.fw-normal Authentication

          .form-floating
            input.form-control#floatingToken(type="password" name="token" placeholder="Token")
            label(for="floatingToken") Token

          button.btn.btn-primary.w-100.py-2.my-3(type="submit") Show Logs

    if message == "success"
      main.pb-4
        .container
          ul.list-unstyled.font-monospace.small
            each entry, index in body
              li.text-muted(class=(index > 0 && new Date(entry.created_at).getDay() !== new Date(body[index-1].created_at).getDay() ? 'mt-2' : '' )) [#{new Date(entry.created_at).toISOString()}][#{entry.device_id}]
                case entry.log_type
                  when 'log'
                    span [Log] 
                  when 'info'
                    span.text-info [Info]
                  when 'warn'
                    span.text-warning [Warning] 
                  when 'error'
                    span.text-danger [Error] 
                span.text-dark #{entry.message}

    footer.fixed-bottom.bg-body-tertiary
      .container
        .px-1.py-2.row
          .text-muted.small.col-sm
            | #{details}
